.maindiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.mainContanier {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
.logoWrap {
  display: flex;
  position: absolute;
  top: 30px;
  left: 10px;
  color: white;
}
.logoWrap1 {
  display: flex;
  color: white;
}
.logo {
  padding: 6px;
  background: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.profileImg {
  width: 40px;
  height: 40px;
  margin-left: 80px;
  position: relative;
}
.profile {
  display: flex;
  float: right;
}

.dropdown_content {
  position: absolute;
  background-color: #e128eea4;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  min-width: 50px;
  top: 10%;
  right: 1%;
  z-index: 1;
}

.dropdown_content p {
  margin: 0;
}

.dropdown_content a:hover {
  background-color: #f1f1f1;
}

.dropbtn {
  background-color: transparent;
  color: black;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover {
  background-color: #ddd;
}

@media screen and (max-width: 650px) {
  .rootDiv {
    align-items: flex-start;
  }
  .card {
    padding: 1.25rem;
    min-width: 300px;
    margin-top: 8rem;
  }
}
